@model MVC.ViewModels.EntityRelationshipViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>cEntityRelationship</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @*<div class="form-group">
            @Html.LabelFor(model => model.entityRelationship.entityA.ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.entityRelationship.entityA.ID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.entityRelationship.entityA.ID, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <label class="control-label col-md-2" for="nEntityA_ID">Entity ID</label>
            <div class="col-md-10">
                @Html.DropDownList("nEntityA_ID", Model.entities, String.Empty)
                @Html.ValidationMessageFor(model => model.nEntityA_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.eRelType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.eRelType, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.eRelType, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2" for="nEntityB_ID">Entity ID</label>
            <div class="col-md-10">
                @Html.DropDownList("nEntityB_ID", Model.entities, String.Empty)
                @Html.ValidationMessageFor(model => model.nEntityB_ID)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.entityRelationship.entityB.ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.entityRelationship.entityB.ID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.entityRelationship.entityB.ID, "", new { @class = "text-danger" })
            </div>
        </div>*@
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
